In [5]:
from pyspark import SparkContext

sc = SparkContext("local", "RDD_revision")

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=RDD_revision, master=local) created by __init__ at /tmp/ipython-input-3246633186.py:3

In [11]:
list1 = (1,2,3,4,5,6,7,8,9)

print(type(list1))

rdd1 = sc.parallelize(list1)

print(type(rdd1))

# create new rdd  as >=5 from rdd1

rdd2 = rdd1.filter( lambda x: x>=5)

rdd2.collect()

<class 'tuple'>
<class 'pyspark.rdd.RDD'>

[5, 6, 7, 8, 9]

In [13]:

# create new rdd by adding 10 to each value in rdd1

rdd2 = rdd1.map( lambda a : a+10)
rdd2.collect()

[11, 12, 13, 14, 15, 16, 17, 18, 19]

In [44]:
data =['pyspark session is going on', 'rdd concept started']
rdd1= sc.parallelize(data)
print( ' === flatMap output ====')
rdd3 = rdd1.flatMap( lambda x: x.split())
rdd3.saveAsTextFile("results")

 === flatMap output ====

In [24]:
list1 = [54,56,6,6,1,2,3,4]
rdd= sc.parallelize(list1)

# rdd.count()
rdd.last()

AttributeError: 'RDD' object has no attribute 'last'

In [32]:
list1 =[1,3,4,5,2,3,4,1,2,5,6]

rdd= sc.parallelize(list1)

rdd2 =rdd.sortBy(lambda x:x, ascending= False)
rdd2.collect()

[6, 5, 5, 4, 4, 3, 3, 2, 2, 1, 1]

In [37]:
list1 = [1,2,3,4,5]

rdd = sc.parallelize(list1)

res= rdd.fold(0, lambda x, y : x+y)

print(res)
print(type(res))

15
<class 'int'>

In [45]:
rdd= sc.textFile("prac.txt")

rdd.collect()

['hello students']

In [46]:
rdd= sc.textFile("travel.csv")

rdd.collect()

['cust_id,flight_id,origin,destination,price',
 '1,f1,delhi,hyderabad,2500',
 '1,f2,hyderabad,kochi,1700',
 '1,f3,kochi,Mangalore,1800',
 '2,f1,Mumbai,Ayodhya,4000',
 '2,f2,Ayodhya,chennai,3000',
 '']

In [51]:
list1 = ['hello', 'world', 'students']

rdd= sc.parallelize(list1)

rdd.take(2)

['hello', 'world']

In [68]:
list1 = ['hello', 'world', 'students', 'hello', 'world', 'hello', 'hello', 'world', 'students']
rdd= sc.parallelize(list1)

rdd1 = rdd.map( lambda x : (x,1))
rdd2 = rdd1.reduceByKey(lambda x, y: x+y)
rdd2.collect()

[('hello', 4), ('world', 3), ('students', 2)]